{{>header}}
{{>navbar}}
<div class="men">
<p class="men1"><u>BROWSE ALL PRODUCT FOR WOMEN</u> </p>
</div>

<div class="heroine">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>   
    <h1>On all products</h1>
    <p>Save ur money on the sales</p>
    <button>Shop Now</button>
</div>

   <section class="product">
      <h2 class="product-category">Tops <span>Collection</span></h2>
      {{!-- <button class="nxt-btn"><i class="fa-solid fa-arrow-left"></i></button> --}}
      <button class="pre-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <button class="nxt-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <div class="product-container">
         {{#each data.topsResult}}
         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">{{this.discountTag}}</span>
               <img src={{this.imageUrl}} class="product-thumb" alt="error">
            </div>
            <div class="product-info">
               <h2 class="product-brand">{{this.brand}}</h2>
               <p class="product-short-description">{{this.description}}</p>
               <span class="price">{{this.discountedPrice}}</span>
               <span class="actual-price">{{this.actualPrice}}</span>
                <button onclick="addToFavorites('/assets/wt1.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wt1.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>
         {{/each}}
     

 
          {{!-- <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wt2.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/wt2.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wt2.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>


         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wt3.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/wt3.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wt3.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wt4.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/wt4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wt4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wt5.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/wt5.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wt5.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wt6.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/wt6.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wt6.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wt7.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/wt7.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wt7.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wt8.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/wt8.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wt8.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wt9.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/wt9.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wt9.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wt10.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/wt10.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wt10.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div> --}}

      </div>
   </section>



   {{!-- kurthi section --}}
   {{!-- data.kurthiResult --}}
     <section class="product">
      <h2 class="product-category">Kurthi <span>Collection</span></h2>
      {{!-- <button class="nxt-btn"><i class="fa-solid fa-arrow-left"></i></button> --}}
      <button class="pre-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <button class="nxt-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <div class="product-container">
         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wk1.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/wk1.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wk1.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wk2.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/wk2.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wk2.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wk3.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/wk3.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wk3.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wk4.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/wk4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wk4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wk5.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/wk5.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wk5.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wk6.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/wk6.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wk6.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wk7.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/wk7.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wk7.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wk8.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/wk8.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wk8.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wk9.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/wk9.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wk9.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/wk10.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/wk10.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/wk10.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
               <a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a>
            </div>
         </div>
      </div>
   </section>

   {{!-- dresses section  --}}
    <section class="product">
      <h2 class="product-category">Dresses <span>Collection</span></h2>
      {{!-- <button class="nxt-btn"><i class="fa-solid fa-arrow-left"></i></button> --}}
      <button class="pre-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <button class="nxt-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <div class="product-container">
         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/d1.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/d1.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/d1.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/d2.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/d2.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/d2.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/d3.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/d3.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/d3.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/d4.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/d4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/d4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/d5.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/d5.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/d5.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/d6.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/d6.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/d6.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/d7.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/d7.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/d7.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/d8.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button onclick="addToFavorites('/assets/d8.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/d8.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/d9.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button onclick="addToFavorites('/assets/d9.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/d9.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>
      </div>
   </section>


   {{>footer}}